---
name: "Audit"
on: # yamllint disable-line rule:truthy
  push:
  pull_request:
  schedule:
  - cron: "0 0 * * 1"
  workflow_dispatch:
jobs:
  Audit:
    runs-on: "ubuntu-24.04"
    steps:
    - uses: "actions/checkout@v4"
    - uses: "actions/setup-go@v5"
      with:
        go-version: "1.25.4"
    - name: "provision dev tools"
      run: "make"
    #
    # Docker-in-Docker GitHub Actions setup required for docker scout SAC.
    #
    # Disabling (GitHub Actions Hosted) Docker Scout runner step for now.
    # Care when merging pull requests.
    # In any case, all CI/CD jobs can be peformed locally.
    #
    - run: "mage govulncheck"
